<div class="ui vertical menu" style="border-top: 0;border-left: 0;border-bottom: 0;border-radius: 0;height: 100%;overflow-y: scroll">
  <a class="teal item active">
    Inbox
    <div class="ui teal left pointing label">1</div>
  </a>
  <a class="item" (click)="getBoxes()">
    Update
    <div class="ui label">1</div>
  </a>
  <a class="item" *ngFor="let box of boxes" routerLink="/box/{{box.name}}" routerLinkActive="active teal">
    {{box.name}}
    <div class="ui label">{{box.count}}</div>
  </a>
  <a class="item" routerLink="/box/2" routerLinkActive="active teal">
    test1
    <div class="ui label">1</div>
  </a>
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search mail...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
