<div style="height: 100%;">
  <div style="position: fixed;left: 0;top: 0;padding: 0;height: 100%;">
    <side-bar></side-bar>
  </div>
  <div style="width: calc(100% - 16rem);height: 100%;overflow: scroll;margin-left: 15rem; padding: 0 1rem;">
    <button (click)="test()">test</button>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deserunt distinctio dolor dolorum, eligendi et excepturi explicabo ipsam laborum maiores provident, quam qui quibusdam recusandae similique tempore vel, vero voluptates.
  </div>
</div>
